* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ctr {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 32px;
  gap: 16px;
}

.card {
  width: clamp(200px, 250px, 300px);
  border-radius: 8px;
  overflow: hidden;
}
img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.name {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 8px 0;
}
.information {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.holographic-card {
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.holographic-card h2 {
  color: #0ff;
  position: relative;
  z-index: 2;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}