<!-- <ul>
  @for (u of users; track u.id) {
    <li>{{u.name}} - {{u.email}}</li>
  }
</ul> -->
<div style="display: flex; gap: 8px; padding: 16px;">
@for (u of users; track u.id){
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{u.name}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{u.email}}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.
      </p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
}
</div>

